# CONFIG_ESP_MAIN_TASK_STACK_SIZE=20000

CONFIG_ESP_SYSTEM_MEMPROT_FEATURE=y
CONFIG_ESP_INT_WDT=n
CONFIG_ESP_TASK_WDT=n
CONFIG_BOOTLOADER_WDT_ENABLE=n

CONFIG_ESP_INT_WDT=n
CONFIG_ESP_TASK_WDT=n

# Workaround for https://github.com/espressif/esp-idf/issues/7631
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=n
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_FULL=n
